@model AuthUserViewModel

<div>
    <h1>Login</h1>
    <form method="post">
        <div>
            @Html.TextBoxFor(x => x.Email)
            @Html.ValidationMessageFor(x => x.Email)
        </div>
        <div>
            @Html.TextBoxFor(x => x.Password)
            @Html.ValidationMessageFor(x => x.Password)
        </div>
        <div>
            <input type="submit" value="Login" />
        </div>
    </form>
</div>